.woocommerce-checkout {
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    border-radius: 5px !important;
    border-width: 1px !important;
    padding: 5px !important;
  }
}

body.woocommerce {
  /* hide SKU on product meta section */
  .product_meta {
    .sku_wrapper {
      display: none;
    }

    .posted_in {
      display: none;
    }

    .tagged_as {
      display: none;
    }
  }
}
