/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//Padel United Global Varibles
$pu-darkblue: #002b52;
$pu-teal: #36aab2;
$pu-lightblue: #3c7693;
$pu-orange: #fb9b51;
$pu-grey: #f0eee2;
$pu-warmyellow: #fec156;
$pu-yellow:  #f6d55c;
$pu-beige: #ffdbcb;
$pu-darkbeige: #c5bbaa;
$pu-beigegrey: #efeee1;
$pu-lightgrey: #d1d2cc;
$pu-grey: #c1c0bb;
$pu-darkgrey: #9e9f99;

.pu-darkblue {
  color: $pu-darkblue !important;
}

.pu-darkblue-bg {
  background-color: $pu-darkblue !important;
}

.pu-warmyellow-bg {
  background-color: $pu-warmyellow !important;
}

.pu-yellow-bg {
  background-color: $pu-yellow !important;
}

.pu-lightblue-bg {
  background-color: $pu-lightblue !important;
}

.pu-orange-bg {
  background-color: $pu-orange !important;
}

.pu-teal-bg {
  background-color: $pu-teal !important;
}

.pu-beigegrey-bg {
  background-color: $pu-beigegrey !important;
}

.pu-beigegrey {
  color: $pu-beigegrey !important;
}
